---
title: "Crails Framework: Layout and rendering"
---

<h2>1. Rendering</h2>
<h3>1.1 Creating a view</h3>
<p>
  Crails views are created from a view template, stored in the <code>app/views</code> folder.
  They are then compiled to C++ using a code generator defined in the <code>Guardfile</code>, and
  can then be rendered from your application.
</p>

<p>
  Templates can exist in several formats: HTML and JSON support can be added to your application
  by installing the <b>crails-html</b> and <b>crails-json</b> modules, using the 
  <code>crails module html install</code> abd <code>crails module json install</code>.
</p>

<p>
  Create the file <code>app/views/home/index.ecpp</code> as following:
</p>

<%= html_block <<HTML
<p>Hi HTML template !</p>
HTML
%>

<p>
  The <code>ecpp</code> extension is used for html templates, and is used by the code generator
  to find your templates and generate the corresponding code.
</p>

<div class="hint-box">
  Json templates use the <code>cjson</code> extension.
</div>

<p>
  You may compile your template by calling the <code>crails compile before_compile</code>, which will run
  all the code generators.
</p>

<h3>1.2 Rendering a view</h3>
<p>
  Views are typically rendered from a controller, using the <code>Crails::Controller::render</code> method,
  as following:
</p>

<%= code_block <<HTML
#ifndef  HOME_CONTROLLER_HPP
# define HOME_CONTROLLER_HPP

# include <crails/controller.hpp>

class HomeController : public Crails::Controller
{
public:
  HomeController(Crails::Request& request) : Crails::Controller(request)
  {}

  void index()
  {
    render("home/index"); // will render app/views/home/index.ecpp
  }
};

#endif
HTML
%>

<div class="hint-box">
  The controller's renderer uses the request's <code>Accept</code> header to determine which renderer to use. If no
  template were provided for any of the formats specified in the <code>Accept</code> header, the
  <code>Crails::MissingTemplate</code> exception will be thrown.
</div>

<p>
  You can also directly render a template using a <i>Renderer</i> directly. For the <i>HtmlRenderer</i>, here's how
  we would proceed:
</p>

<%= code_block <<HTML
#ifndef  HOME_CONTROLLER_HPP
# define HOME_CONTROLLER_HPP

# include <crails/controller.hpp>
# include <crails/renderers/html_renderer.hpp>

class HomeController : public Crails::Controller
{
public:
  HomeController(Crails::Request& request) : Crails::Controller(request)
  {}

  void index()
  {
    HtmlRenderer().render_template("home/index", this->response);
  }
};

#endif
HTML
%>

<p>
  Instead of relying on the controller's renderer, we explicitely instantiate an <i>HtmlRenderer</i>
  and call <i>render_template</i>, which takes two parameters: the template's name, and the target
  in which the view will be rendered.
</p>

<div class="hint-box">
  If you don't want to render the template to a response object, you can replace that parameter
  with an object of your own: it is expected to implement the <i>RenderTarget</i> interface,
  which you can check out in <code>crails/render_target.hpp</code>.
</div>

<h2>2. Templates</h2>
<h3>2.1 Linking section</h3>
<p>
  View templates may start with a <i>linking section</i>, delimited by the <code>// END LINKING</code> separator.
  This section is where you will declare include <i>files, namespaces, typedefs and variables</i> required by your template.
</p>

<%= html_block <<HTML
using namespace std;

string message = "Hi HTML template !";
// END LINKING
<p><%= message %%></p>
HTML
%>

<p>
  In this example, we declare a local stirng variable named <code>message</code>, and initialize it with
  a default value. We then render that string within the view using the <code>&lt;%= ... %&gt;</code>
  delimiters.
</p>

<div class="hint-box">
  You should not try to use the preprocessor from the linking section.
</div>

<h3>2.2 Shared variables</h3>
<p>
  Views can import variables from other contexts in the <i>linking section</i> of a template.
  Let's now edit our previous template to import the value of the <code>message</code> variable from
  another context:
</p>

<%= html_block <<HTML
using namespace std;

string @message = "Hi HTML template !";
// END LINKING
<p><%= @message %%></p>
HTML
%>

<p>
  In this example, we added an <code>@</code> character before the variable's name. This means that
  this variable's value should be provided by the renderer.
</p>

<p>
  If the renderer doesn't provide the variable, then the default initializer will be used, and our message
  will be "Hi HTML template !".
</p>

<div class="hint-box">
  Note that if we do not provide a default initializer to a shared variable, then trying to render the template
  without providing a value for the variable will result in an <i>out_of_range</i> exception.<br/>
  Similarly, if you provide a value to the variable, but the typeid does not match the one used in the template,
  a <i>runtime_error</i> exception will be thrown.
</div>

<h3>2.3 Sharing variables with a view</h3>
<p>
  When rendered from a Crails controller, views will used by default the controller's
  shared variable set, accessible from the controller as Crails::Controller::vars.
</p>

<p>
  Here's the simplest way to share variables with a view:
</p>

<%= code_block <<HTML
#ifndef  HOME_CONTROLLER_HPP
# define HOME_CONTROLLER_HPP

# include <crails/controller.hpp>

class HomeController : public Crails::Controller
{
public:
  HomeController(Crails::Request& request) : Crails::Controller(request)
  {}

  void index()
  {
    vars["message"] = std::string("Howdy, little birdie !");
    render("home/index");
  }
};

#endif
HTML
%>

<p>
  Note how we explicitely created a <code>std::string</code> when assignin the variable: that's
  because our template specify the <code>std::string</code> type for the message variable, rather
  than the <code>const char*</code> type.
</p>

<p>
  There is another way to pass variables to a view:
</p>

<%= code_block <<HTML
#ifndef  HOME_CONTROLLER_HPP
# define HOME_CONTROLLER_HPP

# include <crails/controller.hpp>

class HomeController : public Crails::Controller
{
public:
  HomeController(Crails::Request& request) : Crails::Controller(request)
  {}

  void index()
  {
    render("home/index", {
      {"message", std::string("Howdy, little birdie !")}
    });
  }
};

#endif
HTML
%>

<p>
  In this example, we send our variables directly to the controller's renderer. The controller's own variable
  will still be shared with the views, but the variables sent as parameter will also be available, and will
  temporarily overwrite the controller's own variable when relevant.
</p>

<h3 id="partial-rendering">2.4 Partial rendering</h3>
<p>
  With more complex application, you may end up needing to render views within other views. This can be
  done through partial rendering:
</p>

<%= html_block <<HTML
using namespace std;

string message = "Hi HTML template !";
// END LINKING
<h1><%= message %%></h1>
<%= partial("home/partial"); %%>
HTML
%>

<p>
  You may also need to send custom variables to the partial view. This can easily be achieved using the
  optional second parameter for the <i>partial</i> method:
</p>

<%= html_block <<HTML
using namespace std;

string message = "Hi HTML template !";
// END LINKING
<h1><%= message %%></h1>
<%= partial("home/partial", {{"variable", message.length()}); %%>
HTML
%>

<h2>3. Layouts</h2>
<h3>3.1 Creating a layout</h3>
<p>
  Layouts are a simple helper that you can use to have all the views from a controller be rendered
  within a layout view. Here's what a layout view may look like:
</p>

<%= html_block <<HTML
const char* @yield;
// END LINKING
<html>
  <head>
    <title>My application</title>
  </head>
  <body>
    <%= yield %%>
  </body>
</html>
HTML
%>

<p>
  Layout template are provided with a <i>yield</i> shared variable, which will contain a rendered
  view that you can incorporate within the layout.
</p>

<div class="hint-box">
  In addition to the <i>yield</i> variable, the layout also gets access to all the shared variables
  sent to the view you're rendering. 
</div>

<h3>3.2 Setting a default layout</h3>
<p>
  Each controller can set a default layout by setting the <i>layout</i> shared variable, as such:
</p>

<%= code_block <<HTML
#ifndef  HOME_CONTROLLER_HPP
# define HOME_CONTROLLER_HPP

# include <crails/controller.hpp>

class HomeController : public Crails::Controller
{
public:
  HomeController(Crails::Request& request) : Crails::Controller(request)
  {
    vars["layout"] = std::string("home/my_layout");
  }

  void index()
  {
    render("home/index");
  }
};

#endif
HTML
%>

<p>
  Alternatively, you can also provide or override the layout by sending a variable directly to the renderer:
</p>

<%= code_block <<HTML
  void index()
  {
    render("home/index", {
      {"layout", std::string("home/my_layout")}
    });
  }
HTML
%>
