---
title: "Crails Framework: WebSockets with Crails and Comet"
---

<div id="with-index"></div>

<h2>1. Introduction</h2>
<p>
  In the following tutorial, we will learn how to use websockets by creating a simple chat-room application.
  The tutorial will be divided in three parts:<br/>
  - the first part will focus on setting up a Crails+Comet application for the tutorial.<br/>
  - the second part will be targeted at server-side web sockets with Crails.<br/>
  - the third part will be targeted at client-side web sockets with Comet.<br/>
  Before we dwelve into websockets, let's create our development environment using the crails comment line interface:
</p>

<h3>1.1 Creating a Crails+Comet application</h3>
<p>
  First things first, let's create a simple crails application:
</p>

<pre>
$ crails new -n chatroom -p html
</pre>

<p>
  This will create a basic application with html support. Next, we need to add a comet client, which
  we will create using the comet plugin:
</p>

<pre>
$ crails plugins comet install
</pre>

<h3>1.2 Creating a controller and layout</h3>
<p>
  Even though we'll be making a Single-Page-Application using Comet, we still need to provide a route to
  serve a basic html file which will provide a layout including the required stylesheets and javascript files.
  Let's start with creating the controller:
</p>

<pre>
$ crails scaffold controller -n home
</pre>

<p>
  Now, we will create a simple default layout:
</p>

<pre>
$ crails scaffold layout
</pre>

<p>
  The default options for the layout generator will create the <code>layouts/application</code> layout.
  The next step is to add an action to our <i>home</i> controller that will render our layout. First,
  update the header to add the<code>homepage</code> action:
</p>

<pre class="filepath">app/controllers/home.hpp</pre>
<%= code_block <<CPP
#pragma once
#include "app/controllers/application.hpp"

class HomeController : public ApplicationController
{
public:
  HomeController(Crails::Context&);

  void initialize() override;
  void finalize() override;

  // Add our new action here:
  void homepage();
protected:
};
CPP
%>

<p>
  Then, let's implement the <code>homepage</code> action in the controller's source file:
</p>

<pre class="filepath">app/controllers/home.cpp</pre>
<%= code_block <<CPP
#include "home.hpp"
#include <crails/params.hpp>

...

void HomeController::homepage()
{
  render("layouts/application");
}
CPP
%>

<p>
  This might seem unorthodox... and it is. Usually, you would render a view within a layout. In this context,
  we are directly rendering the layout as if it were a simple view. This is absolutely possible, and it fits
  our current needs better, as rendering the views will be handled by the client rather than the server.
</p>

<p>
  To finish up our homepage route, we need to reference it in the router:
</p>

<pre class="filepath">app/routes.cpp</pre>
<%= code_block <<CPP
#include <crails/router.hpp>
#include "app/controllers/home.hpp" // adds the include for our HomeController

void Crails::Router::initialize(void)
{
  match_action("GET", "/", HomeController, homepage); // references the homepage action as the root action ("/")
}
CPP
%>

<h3>1.3 Serving the Comet application from the layout</h3>

<p>
  Last step, we need to serve the JavaScript for our comet application. This is done using the <code>lib/assets.hpp</code>
  header, a generated file which provides the definitive URIs towards your application assets.
</p>

<p>
  In order to take a peek at what this header will look like, let's try building your application:
</p>

<pre>$ crails build</pre>

<p>
  Everything should go smoothly, and the <lib>lib/assets.hpp</code> file should've been generated. Let's check it out:
</p>

<pre class="filepath">lib/assets.hpp</pre>
<%= code_block <<CPP
#ifndef APPLICATION_ASSETS_HPP
#define APPLICATION_ASSETS_HPP
namespace Assets
{
#ifndef __CHEERP_CLIENT__
  extern const char* application_js;
#endif
  extern const char* stylesheets_bootstrap_bootstrap_scss;
}
#endif
CPP
%>

<p>
  See the <code>application_js</code> variable ? That's what we're interested about. This variable will contain the path
  for our asset from the web. This is what we need to add to our layout to serve our comet application. Let's go and add
  a &lt;script&gt; in our layout's header:
</p>

<pre class="filepath">app/views/layouts/application.html</pre>
<%= code_block <<CPP
#include "lib/assets.hpp"

const char* @yield = nullptr;
// END LINKING
<html>
  <head>
    <%= tag("link", {{"rel","stylesheet"},{"href",Assets::stylesheets_bootstrap_bootstrap_scss}}) %%>

    <!-- Add the following script tag: -->
    <%= tag("script", {{"src",Assets::application_js}}) yields %%><% yields-end %%>

  </head>
  <body>
    <% if (yield != nullptr) do %%>
      <%= yield %%>
    <% end %%>
  </body>
</html>
CPP
%>

<p>
  And that's all there is to it ! Our setup is ready : we can now go on and dwelve into WebSockets !
</p>

<h2>2. WebSocket server with Crails</h2>
<h3>2.1 A simple echo websocket</h3>

<p>
  To familiarize with the WebSocket API, let's start by writing a simple <i>echo</i> websocket. It's a
  websocket that will merely send back everything that it receives.
</p>

<p>
  Let's start by scaffolding our websocket class:
</p>

<pre class="filepath">app/controllers/echo_web_socket.hpp</pre>
<%= code_block <<CPP
#pragma once
#include <crails/websocket.hpp>

class EchoWebSocket : public Crails::WebSocket
{
public:
  EchoWebSocket(Crails::Context& context) : Crails::WebSocket(context)
  {
  }
};
CPP
%>

<p>
  All we need to create a valid websocket is to inherit <code>Crails::WebSocket</code> and create a constructor that
  passes a <i>context</i> object to the superclass.
</p>

<p>
  This websocket, however, does nothing yet. We will now override the <i>received</i> method to send back any received
  messages:
</p>

<pre class="filepath">app/controllers/echo_web_socket.hpp</pre>
<%= code_block <<CPP
#pragma once
#include <crails/websocket.hpp>

class EchoWebSocket : public Crails::WebSocket
{
public:
  EchoWebSocket(Crails::Context& context) : Crails::WebSocket(context)
  {
  }

  void received(const std::string& message, Crails::WebSocket::MessageType type) override
  {
    send(message, type);
  }
};
CPP
%>

<p>
  Simple stuff ! And we're almost done: we now need to register our WebSocket object in the router, so that it can
  wire requests towards it. Edit the routes as following:
</p>

<pre class="filepath">app/routes.cpp</pre>
<%= code_block <<CPP
#include <crails/router.hpp>
#include "app/controllers/home.hpp"
#include "app/controllers/echo_web_socket.hpp" // adds the include for our EchoWebSocket

void Crails::Router::initialize(void)
{
  match_action("GET", "/", HomeController, homepage);
  match_websocket("/echo", EchoWebSocket, read); // references our websocket at "/echo"
}
CPP
%>

<p>
  Matching websockets routes is very similar to controller routes. Like for controllers, you also need to specify
  an <i>action</i> as the third parameter of a route: the action specified will trigger right after the WebSocket
  handshake is completed. In this case, we've used <code>read</code> as our action.
</p>

<p>
  The <code>read</code> action is provided by <code>Comet::WebSocket</code>: you don't have to implement it yourself.
  It is basically what you would expect from reading on a socket: it asynchronously waits for the client to send
  data, and calls <code>received</code> (which we've implemented earlier) once a message has been received.
</p>

<h3>2.2 Chatroom server</h3>

<p>
  Let's capitalize on our newly aquired knowledge by writing a simple chatroom server. Our goal will be to
  echo each message received from one websocket to all other websockets connected to the chatroom.
</p>

<p>
  To that end, we will need to make a chatroom storing all the connected websockets. It will need to be a <i>thread-safe</i>
  chatroom, as distincts clients could connect, disconnect and emit messages simultaneously.
</p>

<p>
  Let's have a go at it:
</p>

<pre class="filepath">app/controllers/chat_room.hpp</pre>
<%= code_block <<CPP
#pragma once
#include <crails/websocket.hpp>
#include <crails/utils/singleton.hpp>
#include <mutex>

class ChatRoom
{
  SINGLETON(ChatRoom) // singleton helper from the framework
  typedef std::shared_ptr<Crails::WebSocket> WebSocketPtr;
  typedef std::list<WebSocketPtr>            Clients;
public:
  void add_client(Crails::WebSocket& socket)
  {
    std::lock_guard<std::mutex> guard(clients_mutex);

    clients.push_back(socket.shared_from_this());
  }

  void remove_client(const Crails::WebSocket& socket)
  {
    Clients::iterator it;

    std::lock_guard<std::mutex> guard(clients_mutex);
    it = std::find(clients.begin(), clients.end(), socket.shared_from_this());
    if (it != clients.end())
      clients.erase(it);
  }

  void send_message(const Crails::WebSocket& emitter, const std::string& message)
  {
    std::lock_guard<std::mutex> guard(clients_mutex);

    for (WebSocketPtr client : clients)
    {
      if (client.get() != &emitter)
        client->send(message, Crails::WebSocket::TextMessage);
    }
  }

private:
  std::mutex clients_mutex;
  Clients clients;
};
CPP
%>

<p>
  In this <code>ChatRoom</code> class, we use <code>std::mutex</code> to ensure thread-safety with our client list.
  In the <code>send_message</code> method, we loop over all our connected clients, and send a message to everyone
  except the WebSocket who emitted the message in the first place.
</p>

<p>
  Note that we used the <code>SINGLETON</code> macro, meaning we need to instantiate the singleton somwehere,
  ideally somewhere that won't be subjected to potential concurrency issues. We'll do it in our main function:
</p>

<pre class="filepath">app/main.cpp</pre>
<%= code_block <<CPP
...
#include "controllers/chat_room.hpp"

int main()
{
  SingletonInstantiator<ChatRoom> chat_room; // just add this line to instantiate the singleton
  ...
}
CPP
%>

<p>
  Let's now write a new WebSocket class that will use this chatroom:
</p>

<pre class="filepath">app/controllers/chat_client.hpp</pre>
<%= code_block <<CPP
#pragma once
#include "chat_room.hpp"

class ChatClient : public Crails::WebSocket
{
  std::string nickname;
public:
  ChatClient(Crails::Context& context) : Crails::WebSocket(context)
  {
    // First, we'll use the request parameters to let participants set a nickname
    nickname = context.params["nickname"].defaults_to<std::string>("anonymous");
  }

  // We need a method to handle the arrival of a new participant:
  void connect()
  {
    ChatRoom::singleton::get()->send_message(*this, "<i>" + nickname + " joined the room.</i>");
    ChatRoom::singleton::get()->add_client(*this);
    read();
  }

  // Next, we need to broadcast received messages to the room
  void received(const std::string& message, Crails::WebSocket::MessageType) override
  {
    ChatRoom::singleton::get()->send_message(*this, "<b>" + nickname + ":</b> " + message);
    read();
  }

  // Finally, we remove the participant from the room when the socket gets disconnected
  void disconnected() const override
  {
    ChatRoom::singleton::get()->send_message(*this, "<i>" + nickname + " left the room.</i>");
    ChatRoom::singleton::get()->remove_client(*this);
  }
};
CPP
%>

<p>
  Lastly, we add a route to reach our chatroom:
</p>

<pre class="filepath">app/routes.cpp</pre>
<%= code_block <<CPP
#include <crails/router.hpp>
#include "app/controllers/home.hpp"
#include "app/controllers/echo_web_socket.hpp"
#include "app/controllers/chat_client.hpp" // add the ChatClient header

void Crails::Router::initialize(void)
{
  match_action("GET", "/", HomeController, homepage);
  match_websocket("/echo", EchoWebSocket, read);
  match_websocket("/chatroom/:nickname", ChatClient, connect); // add a new route
}
CPP
%>

<h2>3. WebSocket client with Comet</h2>

<p>
  We'll now take care of the client part. We'll design it using Comet.cpp. If you
  haven't used Comet yet, check out the <a href="/comet/getting-started" target="_blank">Getting
  started with Comet</a> tutorial.
</p>

<p>
  Before all else, move to the client's directory at <code>app/client</code>: the <i>comet</i>
  command line interface should always run from this folder, or one of its descendents.
</p>

<pre>$ cd app/client</pre>

<h3>3.1 WebSocket</h3>

<p>
  Let's start with a chat room object: it will use a WebSocket to send and receive messages,
  and store the history of messages received. Create the following file:
</p>

<pre class="filepath">app/client/chat_room_client.hpp</pre>
<%= code_block <<CPP
#pragma once
#include <comet/websocket.hpp>

class ChatRoomClient
{
  std::unique_ptr<Comet::WebSocket> socket;
  std::string nickname;
  std::size_t maximum_history_size = 50;
  std::list<std::string> history;
public:
  Comet::Signal<> history_updated;

  const std::list<std::string>& get_history() const { return history; }

  void connect(const std::string& nickname_)
  {
    nickname = nickname_;
    socket.reset(new Comet::WebSocket("ws://localhost:3001/chatroom/" + nickname));
    socket->message_received.connect(std::bind(&ChatRoom::add_message, this, std::placeholders::_1));
  }

  void add_message(const std::string& message)
  {
    history.push_back(message);
    if (history.size() > maximum_history_size)
      history.erase(history.begin());
    history_updated.trigger();
  }

  void send_message(const std::string& message)
  {
    socket->send(message);
    add_message("<b>" + nickname + ": </b>" + message);
  }
};
CPP
%>

<p>
  For receiving messages, the WebSocket object comes with a <code>message_received</code> signal,
  which we connect to the <code>add_message</code> method right after instantiating the WebSocket
  in the <code>connect</code> method.
</p>

<p>
  For sending messages, we use the <code>send</code> method, which takes <code>std::string</code>
  as its parameter, as seen in the <code>send_message</code> method.
</p>

<h3>3.2 Overloading WebSocket</h3>

<p>
  While it is possible to use <code>Comet::WebSocket</code> directly for simple use cases,
  if we want to handle other events from websockets, such as connection or disconnection,
  we will have to create a class that inherits <code>Comet::WebSocket</code> and overrides
  the <code>on_open</code>, <code>on_close</code>, <code>on_error</code> methods:
</p>

<pre class="filepath">app/client/chat_web_socket.hpp</pre>
<%= code_block <<CPP
#pragma once
#include <comet/websocket.hpp>

class ChatWebSocket : public Comet::WebSocket
{
public:
  Comet::Signal<bool> connection_changed;

  ChatWebSocket(Comet::String url) : Comet::WebSocket(url)
  {
  }

  void on_open(client::Event*) override
  {
    connection_changed.trigger(true);
  }

  void on_close(client::Event*) override
  {
    connection_changed.trigger(false);
  }

  void on_error(client::ErrorEvent*) override
  {
  }
};
CPP
%>

<p>
  In this example, we create a class that provides a <i>signal</i> when the state of the
  connection changed. Let's integrate this signal in our <code>ChatRoomClient</code> object:
</p>

<pre class="filepath">app/chat_room_client.hpp</pre>
<%= code_block <<CPP
#pragma once
#include "chat_web_socket.hpp"

class ChatRoomClient
{
  std::unique_ptr<ChatWebSocket> socket; // update the socket's classname
  std::string nickname;
  std::size_t maximum_history_size = 50;
  std::list<std::string> history;
public:
  Comet::Signal<> history_updated;

  const std::list<std::string>& get_history() const { return history; }

  void connect(const std::string& nickname_)
  {
    nickname = nickname_;
    socket.reset(new ChatWebSocket("ws://localhost:3001/chatroom/" + nickname));
    socket->message_received.connect(std::bind(&ChatRoomClient::add_message, this, std::placeholders::_1));
    socket->connection_changed.connect(std::bind(&ChatRoomClient::on_connection_changed, this, std::placeholders::_1));
  }

  void on_connection_changed(bool connected)
  {
    add_message(connected ? "You are now connected." : "You are not connected anymore.");
  }

  void add_message(const std::string& message)
  {
    history.push_back(message);
    if (history.size() > maximum_history_size)
      history.erase(history.begin());
    history_updated.trigger();
  }

  void send_message(const std::string& message)
  {
    socket->send(message);
    add_message(nickname + ": " + message);
  }
};
CPP
%>

<p>
  By adding a listener for the <code>connection_changed</code> event, we will now display a message
  when the user connects or disconnects.
</p>

<h3>3.3 Chat room views</h3>

<h3>3.3.1 Connect view</h3>

<p>
  We've got the backend ready, let's move on to the frontend. We'll start by creating a connection room,
  where users can pick their nicknames. Run the following command in your <code>app/client</code> folder:
</p>

<pre>$ comet scaffold view -n ConnectView</pre>

<p>
  And update the generated <code>app/views/connect_view.html</code> file as following:
</p>

<pre class="filepath">app/client/views/connect_view.html</pre>
<%= html_block <<HTML
<template>
  <head>
    <script>virtual void on_submit() = 0;</script>
  </head>
  <body>
    <form submit.trigger="on_submit()">
      <div class="form-group">
        <input type="text" class="form-control" ref="nickname_input" />
        <input type="submit" class="btn btn-primary mb-3" />
      </div>
    </form>
  </body>
</template>
HTML
%>

<p>
  This view has a text input that will be referenced as <code>nickname_input</code>, and declares
  the <code>on_submit</code> method, called when the form sends a <code>submit</code> event. The
  method needs an implementation, so let's add one in the view's header:
</p>

<pre class="filepath">app/client/views/connect_view.hpp</pre>
<%= code_block <<CPP
#pragma once
#include "templates/connect_view.hpp"

class ConnectView : public HtmlTemplate::ConnectView
{
public:
  Comet::Signal<std::string> accepted;

  void on_submit()
  {
    accepted.trigger(
      nickname_input.value<std::string>()
    );
  }
};
CPP
%>

<h3>3.3.2 Chatroom controller</h3>

<p>
  We'll now set up a controller to display the connection view, and eventually the chatroom.
  Run the following command:
</p>

<pre>$ comet scaffold controller -n ChatRoom</pre>

<p>
  Let us now add an <i>action</i> to that controller that will manage our connection view.
  Open the header at <code>app/client/controllers/chat_room.hpp</code>, and declare the
  <code>connect</code> method as such :
</p>

<pre class="filepath">app/controllers/chat_room.hpp</pre>
<%= code_block <<CPP
#pragma once
#include <comet/mvc/controller.hpp>

class ChatRoomController : public Comet::Controller
{
public:
  ChatRoomController(const Comet::Params&);

  void connect();
};
CPP
%>

<p>
  Let's now implement it in the source file:
</p>

<pre class="filepath">app/client/controllers/chat_room.cpp</pre>
<%= code_block <<CPP
#include "chat_room.hpp"
#include "../views/connect_view.hpp"

using namespace std;

unique_ptr<ConnectView> connect_view;

void ChatRoomController::connect()
{
  Comet::body.empty();
  connect_view.reset(new ConnectView);
  connect_view->append_to(Comet::body);
}

...
CPP
%>

<p>
  This will replace the content of the document's body with a freshly instantiated <code>ConnectView</code>.
  when the action is called. Let's add a route to the client router:
</p>

<pre class="filepath">app/client/routes.cpp</pre>
<%= code_block <<CPP
#include <comet/router.hpp>
#include "controllers/chat_room.hpp"

void Comet::Router::initialize()
{
  match_action("/", ChatRoomController, connect);
}
CPP
%>

<h3>3.3.3 Connection</h3>

<p>
  Now that we have a form to enter our nickname, let's use it to implement connection with the <code>
  ChatRoom</code> object we created in <i>3.1</i>. Let's add a second route for connection:
</p>

<pre class="filepath">app/client/routes.cpp</pre>
<%= code_block <<CPP
#include <comet/router.hpp>
#include "controllers/chat_room.hpp"

void Comet::Router::initialize()
{
  match_action("/", ChatRoomController, connect);
  match_action("/chatroom/:nickname", ChatRoomController, chatroom);
}
CPP
%>

<p>
  We'll add the <i>chatroom</i> action to our controller source:
</p>

<pre class="filepath">app/client/controllers/chat_room.cpp</pre>
<%= code_block <<CPP
#include "chat_room.hpp"
#include "../views/connect_view.hpp"
#include "../chat_room_client.hpp"

using namespace std;

unique_ptr<ChatRoomClient> chatroom_client;
unique_ptr<ConnectView> connect_view;

void ChatRoomController::connect()
{
  Comet::body.empty();
  connect_view.reset(new ConnectView);
  connect_view->append_to(Comet::body);
}

void ChatRoomController::chatroom()
{
  chatroom_client.reset(new ChatRoomClient);
  chatroom_client->connect(params["nickname"]);
}
...
CPP
%>

<p>
  Let's also update the <code>connect</code> method so that submitting the form trigger the <i>chatroom</i>
  action:
</p>

<pre class="filepath">app/client/controllers/chat_room.cpp</pre>
<%= code_block <<CPP
#include "../application.hpp"

...

void ChatRoomController::connect()
{
  Comet::body.empty();
  connect_view.reset(new ConnectView);
  connect_view->append_to(Comet::body);
  connect_view->accepted.connect([](const std::string& nickname)
  {
    Application::get().router.navigate("/chatroom/" + nickname);
  });
}

...
CPP
%>

<h3>3.3.4 Chat view</h3>

<p>
  Last, but not least: the chat view. We'll be creating a view
  that displays the message history and input. Run the following command in your <code>app/client</code>
  directory:
</p>

<pre>$ comet scaffold view -n ChatRoomView -p 'std::vector&lt;std::string&gt;*/history'</pre>

<p>
  Open the generated file at <code>app/client/views/chat_room_view.html</code>, and modify it as
  following:
</p>

<pre class="filepath">app/client/views/chat_room_view.html</pre>
<%= html_block <<HTML
<template>
  <head>
    <attribute name="history" type="const std::list<std::string>*" value="nullptr" />
    <script>
      Comet::Signal<std::string> send_message;
    </script>
  </head>
  <body>
    <div repeat.for="line of [const std::list<std::string>]*history">
      <span text.bind="line"></span>
    </div>
    <form submit.trigger="send_message.trigger(message_input.value<std::string>())">
      <div class="input-group">
        <input type="text" class="form-control" ref="message_input" />
        <input type="submit" class="btn btn-primary mb-3" />
      </div>
    </form>
  </body>
</template>
HTML
%>

<p>
  This view consists of two parts: the first one is a <i>repeater</i>, which will repeat
  the &lt;div&gt; element for each line in the history. The second one is a form, much like
  the one we've seen in the connection view.
</p>

<p>
  We're nearly done. We have to render the chat view from the <code>chatroom</code> action we've
  created earlier. Open <code>app/client/controllers/chat_room.hpp</code> and update the <code>chatroom</code>
  method as such:
</p>

<pre class="filepath">app/client/controllers/chat_room.cpp</pre>
<%= code_block <<CPP
#include "../views/chat_room_view.hpp"

...
unique_ptr<ChatRoomView> chatroom_view;
...

void ChatRoomController::chatroom()
{
  Comet::body.empty();
  chatroom_view.reset(new ChatRoomView);
  chatroom_client.reset(new ChatRoomClient);
  chatroom_client->history_updated.connect(
    std::bind(&ChatRoomView::trigger_binding_updates, chatroom_view.get())
  );
  chatroom_view->send_message.connect([](const std::string& message)
  {
    chatroom_client->send_message(message);
  });
  chatroom_view->set_history(&chatroom_client->get_history());
  chatroom_client->connect(params["nickname"]);
  chatroom_view->bind_attributes();
  chatroom_view->append_to(Comet::body);
}
CPP
%>

<p>
  And this is it: the history attribute from the view is now a pointer to the history in
  our <code>ChatRoomClient</code> object, and the view bindings will all update
  whenever the <code>history_updated</code> signal is sent.<br/>
  On the other side, when the <code>send_message</code> signal gets called on the view,
  it will call <code>send_message</code> on the <code>ChatRoomClient</code> object, and
  it will clear the message input.
</p>

<p>
  All done. Now, build, launch the server, and profit:
</p>

<pre>$ crails build
$ build/server</pre>
