---
title: The Crails Request Pipe
---

<div id="with-index"></div>

<h2>1. Introduction</h2>
<p>
  HTTP requests received by a Crails server are first directed through the request pipe. The pipe
  consists of request parsers and handlers. The request run through each of these handlers sequentially,
  until one of the parser or handler responds to or rejects the query.
</p>

<p>
  You can configure which parsers and handlers are enabled in your server, and in which order they
  should run, by editing the <code>config/request_pipe.cpp</code>, which looks like this:
</p>

<%= code_block <<CPP
#include <crails/request_handlers/file.hpp>
#include <crails/request_handlers/action.hpp>
#include <crails/request_parsers/url_parser.hpp>
#include <crails/request_parsers/form_parser.hpp>
#include <crails/request_parsers/multipart_parser.hpp>

using namespace Crails;

const std::string Server::temporary_path = "/tmp";

void Server::initialize_request_pipe()
{
  add_request_parser(new RequestUrlParser);
  add_request_parser(new RequestFormParser);
  add_request_parser(new RequestMultipartParser);

  add_request_handler(new ActionRequestHandler);
  add_request_handler(new FileRequestHandler);
}
CPP
%>

<p>
  The request pipe first runs the parsers, then the handlers. In both case, they will run in the same order
  as the calls for <code>add_request_parser</code> and <code>add_request_handler</code>.
</p>

<h3>1.1 Adding support for queries in json format</h3>
<p>
  Crails comes with a request parser that can load the json body of a request into the query's <code>params</code>
  object. To add this request parser, you would need to include its header file, and register it by calling
  <code>add_request_parser</code> from the <code>initialize_request_pipe</code> method.
</p>

<p>
  In the following example, we use the json request parser with only the action request handler, to
  configure our crails server as a lightweight web service.
</p>

<%= code_block <<CPP
#include <crails/request_parsers/json_parser.hpp>
#include <crails/request_handlers/action.hpp>

using namespace Crails;

const std::string Server::temporary_path = "/tmp";

void Server::initialize_request_pipe()
{
  add_request_parser(new RequestJsonParser);
  add_request_handler(new ActionRequestHandler);
}
CPP
%>

<h2>2. Writing your own request handler</h2>
<p>
  There are cases in which you may want to intercept queries before they reach the application's router.
  Or perhaps routing isn't a good strategy for you, and you want to replace <code>ActionRequestHandler</code>
  with a solution which better fits your needs.
</p>

<p>
  That's when writing a request handler becomes a viable option. Writing request handlers is pretty
  straightforward. Here's an example:
</p>

<%= code_block <<CPP
#pragma once
#include <crails/request_handler.hpp>

class MyRequestHandler : public Crails::RequestHandler
{
public:
  MyRequestHandler() : Crails::RequestHandler("my request handler's name")
  {
  }

  void operator()(Crails::Context& context, std::function<void(bool) callback) const override
  {
    if (context.params["uri"].as<string>() == "/my_request_handler")
    {
      context.response.set_response(
        Crails::HttpStatus::ok,
        "Hi ! This is your very own request handler speaking !"
      );
      callback(true);
    }
    else
      callback(false);
  }
};
CPP
%>

<p>
  Simple stuff, really: overload <code>operator()</code>, receive a <code>Crails::Context</code>
  and a callback object.
</p>
<p>
  The callback <b>must</b> be called at least once, and only once.<br/>
  Calling the callback with the
  value <code>true</code> will cause the request pipe to stop running the requests through the
  handlers, and send directly the response.<br/>
  Calling the callback with the value <code>false</code> will pass the request on to the next request handler,
  or if there are no more handlers to run, will respond to the query with a 404 not found status.
</p>

<p>
  The request pipe can work asynchronously. You may safely invoke the callback from any thread.
  However, to make sure that the <code>Crails::Context</code> object doesn't get deleted,
  you must keep around a reference to its shared pointer:
</p>

<%= code_block <<CPP
  auto context_ptr = context.shared_from_this();
  some_asynchronous_function([context_ptr, callback]()
  {
    callback(true);
  });
CPP
%>

<div class="hint-box">
  Request parsers and handlers are stateless. This is essential, as they may be running from several threads at once.
</div>

<h2>3. Writing your own parser</h2>
<p>
  The process to writing a request parser is very similar to the request handler. Let's try
  a practical use case where we'll implement a partial YAML parser. First steps first, let's
  scaffold our request parser:
</p>

<%= code_block <<CPP
#pragma once
#include <crails/request_parser.hpp>

class MyRequestParser : public Crails::RequestParser
{
public:
  void operator()(
    Crails::Context& context,
    std::function<void(Crails::RequestParser::Status)> callback) const
  {
    callback(Continue);
  }
};
CPP
%>

<p>
  While this is similar to a request handler, you'll notice that the callback takes a different
  kind of parameter. This parameter is used by parsers to tell the request pipe whether the
  request is completely parsed, or if other parsers may take a look at it.
</p>

<p>
  There are three values you may send to the callback:
  <ul>
    <li>
      <code>Continue</code> is used when other parsers in the pipe should be allowed
      to take a look at the request.
    </li>
    <li>
      <code>Stop</code> is used when the request has been completely parsed. The pipe
      skips all the other parsers and goes straight to the handlers.
    </li>
    <li>
      <code>Abort</code> is used when the parser has already solved the request. It is
      typically used when the request is invalid. The following parsers and handlers
      won't run.
    </li>
  </ul>
</p>

<h3>3.1 Accepting a request</h3>
<p>
  We only want our parser to run when the client is sending us a YAML body. Other
  requests must not be treated by our parser. To achieve that, we will check the
  "Accept" header on the request by using <code>content_type_matches</code>, a helper
  method provided by <code>Crails::RequestParser</code>:
</p>

<%= code_block <<CPP
#pragma once
#include <crails/request_parser.hpp>

class MyRequestParser : public Crails::RequestParser
{
public:
  void operator()(
    Crails::Context& context,
    std::function<void(Crails::RequestParser::Status)> callback) const
  {
    static const std::regex is_yaml("text/yaml", std::regex_constants::optimize);
    bool has_acceptable_type = content_type_matches(params, is_yaml);
    bool has_relevant_method = context.params["method"].as<std::string>() != "GET";

    if (has_acceptable_type && has_relevant_method)
      callback(Stop);
    else
      callback(Continue);
  }
};
CPP
%>

<p>
  By using <code>callback(Stop)</code> when we recognize that a request should be handled
  by our parser, we stop the parsing process and send the request directly to the request
  handlers. But we haven't actually parsed the query. Now that we know how to intercept it,
  let's see how to actually read its contents.
</p>

<h3>3.2 Reading the body of a request</h3>
<p>
  Since we are going to parse YAML, we will need access to the query's body. However, the
  request pipe doesn't wait for the request body to arrive before starting to run the parsers
  and handlers. If your parser needs to wait for the request body to have been delivered,
  you'll need to use <code>Crails::BodyParser</code> and the <code>wait_for_body</code> helper:
</p>

<%= code_block <<CPP
#pragma once
#include <crails/request_parser.hpp>

class MyRequestParser : public Crails::BodyParser
{
public:
  void operator()(
    Crails::Context& context,
    std::function<void(Crails::RequestParser::Status)> callback) const
  {
    static const std::regex is_yaml("text/yaml", std::regex_constants::optimize);
    bool has_acceptable_type = content_type_matches(params, is_yaml);
    bool has_relevant_method = context.params["method"].as<std::string>() != "GET";

    if (has_acceptable_type && has_relevant_method)
    {
      wait_for_body(context, [&context, callback]()
      {
        bool was_valid_yaml = parse_yaml(
          context.request.body() // This is how we retrieve the request's body
        );

        if (was_valid_yaml)
          callback(Stop);
        else
        {
          context.response.set_status_code(Crails::HttpStatus::bad_request);
          callback(Abort);
        }
        callback(was_valid_yaml ? Stop : Abort);
      });
    }
    else
      callback(Continue);
  }

private:
  bool parse_yaml(const std::string& source)
  {
    // This is where we'll implement our YAML parser
  }
};
CPP
%>

<p>
  In this example, we've replace <code>Crails::RequestParser</code> with <code>Crails::BodyParser</code>,
  a more specific type of parser designed for parsing request bodies, while the former type of parsers
  are best used to handle the contents of the request headers.
</p>

<p>
  We then use <code>wait_for_body</code> so that our parser only runs if or when the body is available.
  Then we call <code>parse_yaml</code>, our own method in which we will implement the actual parser.
  In case of parse failure, we immediately respond to the query with a bad request status, and warn
  the request pipe that the request has been entirely treated by calling <code>callback(Abort)</code>.
  Otherwise, if the parsing was successfull, we tell the request pipe to go straight to running the
  request handlers by calling <code>callback(Stop)</code>.
</p>

<h3>3.3 Fill in the Params object</h3>
<p>
</p>
